@font-face {
  font-family: "iconfont"; /* Project id 3176789 */
  src: url("//at.alicdn.com/t/font_3176789_d0rin0pglpa.woff2?t=1644631588306")
      format("woff2"),
    url("//at.alicdn.com/t/font_3176789_d0rin0pglpa.woff?t=1644631588306")
      format("woff"),
    url("//at.alicdn.com/t/font_3176789_d0rin0pglpa.ttf?t=1644631588306")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
}
/* 把我们所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
}
/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}
/* 去掉li 的小圆点 */
li {
  list-style: none;
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}
/* 改变a链接的默认样式,颜色和下划线 */
a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #c81623;
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53",
    sans-serif;
  font-size: 0.2rem;
  /* 设置默认字体大小 */
}

html {
  font-size: 26.6666666vw;
}

.hide,
.none {
  display: none;
}
/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}
